# IGNORE EVERYTHING
*

# IGNORE SUBFLDERS TOO
!*/
.idea/*
.idea

# EXCEPT THIS FOLDERS

!.gitignore

!meyer-heavy.txt

!RadioRoute.h
!RadioRouteC.nc
!RadioRouteAppC.nc

!RunSimulationScript.py

!topology.txt


